.App {
  background-color: whitesmoke;
  text-align: center;
  font-size: 20px;
}

.App-Title {
  text-align: center;
}

.App-Menu {
  margin: auto;
}

.Menu-Title {

  background-color: rgb(180, 180, 180);
  list-style: none;
  color: #000000;
  font-weight: 700;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
  display: inline-block;
  border-color: white;
  border-width: 1px;
  border-style: solid;
}

.Menu-Title :hover {
  background-color: #ddd;
  color: black;
}

.content{
  
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
}

input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.BlockText {
  margin: auto;
  width: 70%;
  padding: 10px;
  text-align: left;
}

@media only screen and (max-width: 800px) {
  .BlockText {
      margin: auto;
      width: 95%;
      padding: 10px;
  }
}